.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.digit, .operator, .clear, .equal, .backspace {
    padding: 30px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.clear {
    padding: 20px;
}

.operator, .equal, .backspace {
    background-color: #0B2E59;
    border: none;
    color: white;
    padding: 20px;
}

.operator-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
    padding-top: 10px;
}

.calculation {
    display: flex;
    flex-shrink: 0;
    height: max-content;
    width: 350px;
    align-items: center;
}

.display {
    padding-left: 6px;
    background-color: #ccc;
    border: 3px solid #A9A9A9;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 30px;
    overflow: hidden;
}

#previous {
    width: 300px;
    opacity: 0.5;
    text-align: start;
}