.hero {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

button {
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 2px 2px;
}

button:hover {
    background-color:#4095c6;
}


.digit, .operator, .clear, .equal, .backspace {
    padding: 30px;
    font-size: 25px;
}

.digit, .clear {
    background-color: #00215E;
    color: #FFC55A;
}

.clear {
    padding: 20px;
}

.operator, .equal, .backspace {
    background-color: #FFC55A;
    border: none;
    color: white;
}

.operator-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    gap: 5px;
    box-sizing: border-box;
}

.calculation {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: max-content;
    width: 350px;
    align-items: center;
    gap: 10px;
}

.display {
    display: flex;
    justify-content: flex-end;
    padding-left: 6px;
    background-color: #ccc;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 30px;
    overflow: hidden;
}

#previous {
    width: 300px;
    opacity: 0.5;
    text-align: start;
}